.leftNavigationWrapper {
    width: 100%;
    max-width: 245px;
    background: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid #E0E0E0;
}

.itemWrapper {
    padding: 28px 0;
}

.item {
    /*background: #F2F2F2;*/
    padding: 3px 0 2px 20px;
    margin-bottom: 13px;
}

.item img {
    width: 14px;
    height: 30px;
    padding: 3px 0 2px 0;
}

.itemTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #828282;
    padding: 0 0 0 15px;
    text-decoration: none !important;
}

.itemTitle:hover {
    color: #828282;
}

.payRoll {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    color: #4B4D67;
    margin-top: 1px;
    padding: 0 0 0 20px;
}

.button {
    width: 100%;
    max-width: 155px;
    background: #EB5757 !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: white;
    margin-top: 4px;
}