.itemWrapper {
  background: #ffffff;
  border-radius: 5px;
}

.calenderBox {
  padding: 5px 5px;
  position: relative;
  text-align: center;
  margin: 0 2px;
  border-radius: 5px;
  max-width: 70px;
  height: 60px;
}

.calenderBox.active {
  background-color: #4b4d67;
}

.calenderBox:after {
  content: '';
  position: absolute;
  bottom: -7px;
  width: 100%;
  height: 4px;
  border-radius: 10px 10px 0 0;
  background-color: #c4c4c4;
}

.monthTitle {
  color: #828282;
  margin-bottom: 3px;
}
.monthTitle.active {
  color: #ffffff;
}

.monthDate {
  background: #f2f2f2;
  border-radius: 3px;
  line-height: 20px;
  color: #828282;
}

.monthDate.active {
  background-color: #49d360;
  color: #ffffff;
}
